<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Notification demo</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>

<script type="module">
    import {ChannelStreamConnection} from 'https://unpkg.com/@channelstream/channelstream';
    // initialize client

    let connection = new ChannelStreamConnection();
    connection.connectUrl = '/connect';
    connection.messageUrl = '/message';
    connection.websocketUrl = 'ws://127.0.0.1:8000/ws';
    connection.longPollUrl = 'http://127.0.0.1:8000/listen';
    connection.listenMessageCallback = gotMessage;
    connection.connect();

    let username = `Anon ${Math.round(Math.random()*10000)}`

    function gotMessage(messages) {
        for (let message of messages) {
            let div = document.createElement('div');
            div.innerHTML = `${message.user}: ${message.message.value}`;
            div.className = 'alert alert-primary';
            document.querySelector('#notifications').appendChild(div)
        }
    }

    function sendNotification(e) {
        e.preventDefault();
        let msg = document.querySelector('#text').value || 'No message';
        document.querySelector('#text').value = '';
        connection.message({message: msg, user: username})
    }

    document.querySelector('form').addEventListener('submit', sendNotification);
</script>

<div class="container">
    <h1>Notification demo</h1>
    <form>
    <p>
        <input type="text" class="form-control" id="text" placeholder="Your notification">
    </p>
    <p>
        <button type="submit" class="btn btn-primary">Send notifications</button>
    </p>
    </form>

    <p>Please open up multipe browser windows to see notifications flowing in.</p>

</div>


<div id="notifications"></div>

<style>
    #text {
        width: 50%;
    }
</style>

</body>
</html>
