<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Channelstream Demo</title>
    <base href="{{ request.route_url('/')[:-1] }}"/>
    <script>
        var AppConf = {
            baseUrl: '{{ request.route_url('/')[:-1] }}',
            connectUrl: '{{ request.route_url('section_action',  section='demo', action='connect') }}',
            disconnectUrl: '{{ ssl_rewriter(request, request.route_url('api_disconnect')) }}',
            subscribeUrl: '{{ request.route_url('section_action',  section='demo', action='subscribe') }}',
            unsubscribeUrl: '{{ request.route_url('section_action',  section='demo', action='unsubscribe') }}',
            messageUrl: '{{ request.route_url('section_action',  section='demo', action='message') }}',
            messageEditUrl: '{{ request.route_url('section_action',  section='demo', action='message') }}',
            messageDeleteUrl: '{{ request.route_url('section_action',  section='demo', action='message') }}',
            userStateUrl: '{{ request.route_url('section_action',  section='demo', action='user_state') }}',
            longPollUrl: '{{ ssl_rewriter(request, request.route_url('api_listen')) }}',
            websocketUrl: '{{ ssl_rewriter(request, request.route_url('api_listen_ws').replace('http', 'ws')) }}',
            infoUrl: '{{ request.route_url('section_action', section='demo', action='info') }}'
        }

        window.process = {
            env: {
                NODE_ENV: 'production'
            }
        };
    </script>
{#    <script src="{{ request.static_url('__main__:static/web-animations-js/web-animations-next-lite.min.js') }}"></script>#}
    <script src="{{ request.static_url('__main__:static/webcomponentsjs/custom-elements-es5-adapter.js') }}"></script>
    <script src="{{ request.static_url('__main__:static/webcomponentsjs/webcomponents-loader.js') }}"></script>
</head>
<body>
<script src="{{ request.static_url('__main__:static/channelstream-demo.js') }}"></script>
<style>
    body {
        padding: 0;
        margin: 0;
        font-family: "Roboto Slab", "Roboto", sans-serif;
        height: 100%;
    }

    html{
        height: 100%;
    }

    * {
        box-sizing: border-box;
    }

    h1 {
        margin: 0;
        padding: 20px;
        background-color: #3f51b5;
        color: #ffffff;
    }

    channelstream-chat-demo{
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        --mdc-theme-primary: #2c528b;
        --input-font-family: "Roboto Slab", "Roboto", sans-serif;
    }

    mwc-top-app-bar{
        --tab-color: #ffffff;
        --tab-color-active: #ffffff;
        --tab-color-active-hover: #ffffff;
        --tab-color-hover: #ffffff;
        --tab-bg: transparent;
        --tab-bg-hover: transparent;
        --tab-group-bg: transparent;
        --tab-group-indicator-bg: #ff9800;
        --tab-group-indicator-size: 3px;
        --divider-size: 0;
    }

    .pad-content{
        flex: 1;
        margin-top: 70px;
        padding: 0px 25px;
        width: 100%;
    }

</style>


<channelstream-chat-demo></channelstream-chat-demo>

</body>
</html>
