<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Channelstream Demo</title>
    <base href="{{ request.route_url('/')[:-1] }}"/>
    <script>
        var AppConf = {
            baseUrl: '{{ request.route_url('/')[:-1] }}',
            connectUrl: '{{ request.route_url('section_action',  section='demo', action='connect') }}',
            disconnectUrl: '{{ request.route_url('api_disconnect') }}',
            subscribeUrl: '{{ request.route_url('section_action',  section='demo', action='subscribe') }}',
            unsubscribeUrl: '{{ request.route_url('section_action',  section='demo', action='unsubscribe') }}',
            messageUrl: '{{ request.route_url('section_action',  section='demo', action='message') }}',
            userStateUrl: '{{ request.route_url('section_action',  section='demo', action='user_state') }}',
            longPollUrl: '{{ request.route_url('api_listen') }}',
            websocketUrl: '{{ request.route_url('api_listen_ws').replace('http', 'ws') }}',
            infoUrl: '{{ request.route_url('section_action', section='demo', action='info') }}'
        }

        window.process = {
            env: {
                NODE_ENV: 'production'
            }
        };
    </script>
    <script src="{{ request.static_url('__main__:static/web-animations-js/web-animations-next-lite.min.js') }}"></script>
    <script src="{{ request.static_url('__main__:static/webcomponentsjs/custom-elements-es5-adapter.js') }}"></script>
    <script src="{{ request.static_url('__main__:static/webcomponentsjs/webcomponents-loader.js') }}"></script>
    <script src="{{ request.static_url('__main__:static/channelstream-demo.js') }}"></script>
</head>
<body>

<style>
    body {
        padding: 0;
        margin: 0;
        font-family: sans-serif;
    }

    h1 {
        margin: 0;
        padding: 20px;
        background-color: #3f51b5;
        color: #ffffff;
    }

    .container {
        padding: 20px;
    }

</style>

<div>
    <channelstream-chat-demo></channelstream-chat-demo>
</div>
</body>
</html>
