<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Channelstream Admin</title>
    <base href="{{ request.route_url('index') }}"/>
    <script>
        // Setup Polymer options
        window.Polymer = {
            dom: 'shadow',
            lazyRegister: true
        };
        // Load webcomponentsjs polyfill if browser does not support native Web Components
        (function () {
            'use strict';
            var onload = function () {
                // For native Imports, manually fire WebComponentsReady so user code
                // can use the same code path for native and polyfill'd imports.
                if (!window.HTMLImports) {
                    document.dispatchEvent(
                        new CustomEvent('WebComponentsReady', {bubbles: true})
                    );
                }
            };
            var webComponentsSupported = (
                'registerElement' in document
                && 'import' in document.createElement('link')
                && 'content' in document.createElement('template')
            );
            if (!webComponentsSupported) {
                var script = document.createElement('script');
                script.async = true;
                script.src = 'static/webcomponents-lite.min.js';
                script.onload = onload;
                document.head.appendChild(script);
            } else {
                onload();
            }

            function clearObj(obj) {
                for (var k in Object.keys(obj)) {
                    obj[k] = null;
                }
            }
            function unloadPolymer() {
                clearObj(CustomElements.registry);
            }
            window.onbeforeunload = unloadPolymer;

        })();
    </script>

    <link rel="import"
          href="static/channelstream-admin/channelstream-admin.html">

</head>
<body>

<style>
    body {
        padding: 0;
        margin: 0;
        font-family: sans-serif;
    }

    h1 {
        margin: 0;
        padding: 20px;
        background-color: #3f51b5;
        color: #ffffff;
    }

    .container{
        padding: 20px;
    }

</style>

<h1>Channelstream Admin</h1>

<div class="container">
<channelstream-admin
    url-admin-json="{{ request.route_url('admin_json') }}"></channelstream-admin>
</div>
</body>
</html>
