<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Channelstream Demo</title>
    <base href="{{ request.route_url('index')[:-1] }}"/>
    <script>
        var AppConf = {
            baseUrl: '{{ request.route_url('index')[:-1] }}',
            connectUrl: '{{ request.route_url('section_action',  section='demo', action='connect') }}',
            disconnectUrl: '{{ request.route_url('legacy_disconnect_api',  action='disconnect') }}',
            subscribeUrl: '{{ request.route_url('section_action',  section='demo', action='subscribe') }}',
            unsubscribeUrl: '{{ request.route_url('section_action',  section='demo', action='unsubscribe') }}',
            messageUrl: '{{ request.route_url('section_action',  section='demo', action='message') }}',
            userStateUrl: '{{ request.route_url('section_action',  section='demo', action='user_state') }}',
            longPollUrl: '{{ request.route_url('listen_api', action='listen') }}',
            websocketUrl: '{{ request.route_url('listen_ws_api').replace('http', 'ws') }}',
            infoUrl: '{{ request.route_url('section_action', section='demo', action='info') }}'
        }
    </script>
    <script src="{{ request.static_url('channelstream:static/bower_components/webcomponentsjs/custom-elements-es5-adapter.js') }}"></script>
    <script src="{{ request.static_url('channelstream:static/bower_components/webcomponentsjs/webcomponents-loader.js') }}"></script>
    <script>
        (function () {
            document.addEventListener('WebComponentsReady', function componentsReady() {
                document.removeEventListener('WebComponentsReady', componentsReady, false);
                var script = document.createElement('script');
                script.src = 'static/channelstream-demo.js';
                var refScript = document.getElementsByTagName('script')[0];
                refScript.parentNode.insertBefore(script, refScript);
            }, false);
        })();
    </script>
</head>
<body>

<style>
    body {
        padding: 0;
        margin: 0;
        font-family: sans-serif;
    }

    h1 {
        margin: 0;
        padding: 20px;
        background-color: #3f51b5;
        color: #ffffff;
    }

    .container {
        padding: 20px;
    }

</style>
<div>
    <channelstream-chat-demo></channelstream-chat-demo>
</div>
</body>
</html>
